.classifier-demo

  .dashboard
    display: flex
    direction: column

    .subject-display-area
      width: 40%
      height: 30vh
      text-align: center
      background: slategrey
      color: #efefef
      margin-right: 1em

    .resource-status
      background: slategrey
      color: #efefef
      width: 50%
      text-align: left


